<a href="https://colab.research.google.com/github/sourav88/colab/blob/practice/1st_practice_30_april.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title reverse a string
val="sourav"
new=val[::-1]
print(new)

varuos

In [4]:
#@title reverse string without slicing
val="sourav"
tem=""
for i in val:
  tem=i+tem
print(tem)

varuos

In [8]:
#@title swap first and last element from list
lst=[1,2,3,4] 
# lst[0],lst[-1]=lst[-1],lst[0]
# print(lst)

#another approach using classic swapping method
a=lst[0]
lst[0]=lst[-1]
lst[-1]=a
print(lst)

[4, 2, 3, 1]

In [1]:
#@title find the length of the list without using function
lst=[1,22,34,5,6,7,8]
count=0
for i in lst:
  count+=1
print(count)

7

In [4]:
#@title sum of the list without using sum function
lst=[1,2,3,4]
sum=0
for i in lst:
  sum+=i
print(sum)

10

In [7]:
#@title find the number of occurance in the list without using count funciton
lst=[1,2,3,4,4,5,4]
n=4
count=0
for i in lst:
  if i==n:
    count+=1
print(count)

#approach --> 2 using count function
cnt=lst.count(4)
print(cnt)

3
3

In [10]:
lst=[1,3,2,2,4,5,6,7]
tmp=[]
for i in lst:
  if i not in lst:
      tmp.append(i)
print(tmp)

[]

In [12]:
#@title print all the natural number upto 10
n=10
for i in range(1,n+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
#@title find the posotive integer number from the list
lst=[10,2,-2,-99,1,8,26,-28]
for i in lst:
  if i>0:
    print(i)

10
2
1
8
26

In [17]:
#@title print the string from the list
lst=[1,-3,"sourav","sam",89,0,"life"]
# for i in lst:
#   if type(i)==str:
#     print(i)

#approach -2
for i in lst:
  if isinstance(i,str):
    print(i)

sourav
sam
life

In [27]:
#@title find empty tuple from the list
lst=[1,2,"sourav",44,(2,3),67,(),7,()]
for i in lst:
  if type(i)==tuple and len(i)==0:
    print(i)

()
()

In [25]:
#@title count floating number
lst=[1.3,5,6.7,34,8.8]
count=0
for i in lst:
  if type(i)==float:
    count+=1
print(count)

3

In [7]:
#@title print two consecutive number from a list
lst=[1,2,2,3,4,5,5]
for i in range(len(lst)-1):
  if lst[i]==lst[i+1]:
    print(lst[i])

2
5

In [12]:
#@title print three consecutive number from a list
lst=[1,2,3,3,4,5,6,7,8,8,8]
for i in range(len(lst)-2):
  if lst[i]==lst[i+2]:
    print(lst[i])

8

In [15]:
#@title output should be lst=[2,33,3,34,5,2,56,]
lst=[2,33,[3,44],5,(2,56)]
tmp=[]
for i in lst:
  if type(i)==list or type(i)==tuple:
    tmp.extend(i)
  else:
    tmp.append(i)
print(tmp)

[2, 33, 3, 44, 5, 2, 56]

In [20]:
#@title return even element from the list using lambda function
lst=[1,2,-3,6,-8,10,16,7,13,16]
even=list(filter(lambda x: x%2==0,lst))
print(even)
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

[2, 6, -8, 10, 16, 16]

In [26]:
#@title find the smallest and bigest element from the list without using function
lst=[2,33,4,6,88]
max=lst[0]
min=lst[0]
for i in lst:
  if i>max:
    max=i
  elif i<min:
    min=i
print(max)
print(min)

#using bubble sort
for i in range(len(lst)):
  for j in range(len(lst)-i-1):
    if lst[j]>lst[j+1]:
      lst[j],lst[j+1]<lst[j+1],lst[j]
print("min" ,lst[0],"max", lst[-1])

88
2
min 2 max 88

In [33]:
#@title find the number of upper case and lower case letter from a given string
str="The Quick Brown Box"
up_count=0
low_count=0
for i in str:
  if i.isupper():
    up_count+=1
  elif i.islower():
    low_count+=1
print("Upper case",up_count)
print("Low case",low_count)

Upper case 4
Low case 12

In [38]:
#@title find out digit 
digi="avdgroup1234"
count=0
for i in digi:
  if i.isdigit():
    count+=1
print(count)

4

In [34]:
#@title find out vowels
str="avd group"
vo=['a','e','i','o','u']
for i in str:
  if i in vo:
    print(i)

a
o
u

In [50]:
#@title reverse the order of the word in the string 
str="python is easy"
#output 
# 1) "easy is python" 2) "nothyp si ysae"
lst=str.split()
lst.reverse()
''.join(lst)
print(lst)

#approach -> 2
rev_str=' '.join(reversed(str.split()))
print(rev_str)

# 2)
#approach -> 2
rev_str2=' '.join([word[::-1] for word in reversed(str.split())])
print(rev_str2)

['easy', 'is', 'python']
easy is python
ysae si nohtyp