<a href="https://colab.research.google.com/github/sourav88/colab/blob/practice/3rd_practice_11_May.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title 1.Write a Python program to generate all permutations of a list in Python.
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
#@title 2.Write a Python program to calculate the difference between the two lists.
lst1=[4,8,10,14]
lst2=[2,3,5,6]
diff1=list(set(lst1)-set(lst2))
diff2=list(set(lst2)-set(lst1))
total_diff=diff2+diff1
print(total_diff)

[2, 3, 5, 6, 8, 10, 4, 14]

In [ ]:
#@title 3.Write a Python program to access the index of a list.
nums = [5, 15, 35, 8, 98]
for index, num_val in enumerate(nums):
  print(index,num_val)

0 5
1 15
2 35
3 8
4 98

In [ ]:
#@title 4.Write a Python program to convert a list of characters into a string.
st=['s','o','u','r','a','v']
new=''.join(st)
print(new)

sourav

In [ ]:
#@title 5.Write a Python program to find the index of an item in a specified list.
num=[2,6,88,22,35]
n=int(input("enter the value you want to search:"))
for i, value in enumerate(num):
  if value==n:
    print(i)

enter the value you want to search:88
2

In [ ]:
#@title 6.Write a Python program to flatten a shallow list.
lst=[[2,4,3],[1,5,6], [9], [7,9,0]]
new=[]
for i in lst:
  # if type(lst)==list: #checking if the list object is a list or not
    new.extend(i)
print(new)

[2, 4, 3, 1, 5, 6, 9, 7, 9, 0]

In [ ]:
#@title 7. Write a Python program to append a list to the second list.
list1 = [1, 2, 3, 0]
list2 = ['Red', 'Green', 'Black']
res=list1+list2
print(res)

[1, 2, 3, 0, 'Red', 'Green', 'Black']

In [ ]:
#@title 8.Write a Python program to select an item randomly from a list.
import random
color_list = ['Red', 'Blue', 'Green', 'White', 'Black']
print(random.choice(color_list))

Black

In [ ]:
#@title 9.Write a Python program to check whether two lists are circularly identical.
list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list3 = [1, 10, 10, 0, 0]

# print('Compare list1 and list2')
# print(' '.join(map(str, list2)) in ' '.join(map(str, list1 * 2)))
# print('Compare list1 and list3')
# print(' '.join(map(str, list3)) in ' '.join(map(str, list1 * 2)))

circular=list1+list2
if ''.join(map(str,list2)) in ''.join(map(str,circular)):
  print(True)
else:
  print(False)
circular2=list1+list3
if ''.join(map(str,list3)) in ''.join(map(str,circular2)):
  print(True)
else:
  print(False)

True
True

In [ ]:
#@title 10.Write a Python program to find the second smallest number in a list.
lst=[5, 2, 8, 3, 1, 9, 4, 7, 6]
smal=lst[0]
smal2=lst[1]
for i in range(0,len(lst)):
  if lst[i]<smal:
    smal2=smal
    smal=lst[i]
print(smal2)

#approach-2 using bubble sort
for i in range(0,len(lst)):
  for j in range(0,len(lst)-1):
    if lst[j]>lst[j+1]:
      lst[j],lst[j+1]=lst[j+1],lst[j]
print(lst[1])

#approach-3 using sort function
lst.sort()
print(lst[1])

2
2
2

In [ ]:
#@title 11.Write a Python program to find the second largest number in a list.
lst=[5, 2, 8, 3, 1, 9, 4, 7, 6]
lar=lst[0]
lsr2=lst[1]
for i in range(2,len(lst)):
  if lst[i]>lar:
    lar2=lar
    lar=lst[i]
print(lar2)

8
8

In [ ]:
#@title 11.Write a Python program to get unique values from a list.
lst=[10, 20, 30, 40, 20, 50, 60, 40]
new=set(lst)
print(new)

{40, 10, 50, 20, 60, 30}

In [ ]:
#@title 12.Write a Python program to get the frequency of elements in a list.
lst=[10,10,20,10,10,20,20,20,20,40,40,50,50,30]
import collections
res=collections.Counter(lst)
print(res)

#approch-2 without using function
count={}
for i in lst:
  if i in count:
    count[i]+=1
  else:
    count[i]=1
print(count)

Counter({20: 5, 10: 4, 40: 2, 50: 2, 30: 1})
{10: 4, 20: 5, 40: 2, 50: 2, 30: 1}

In [ ]:
#@title 13.Write a Python program to count the number of elements in a list within a specified range.
lst=[5, 2, 8, 3, 1, 9, 4, 7, 6,34,44, 69,28,88, 99, 42,81,62]
n1=int(input("Enter the min range: "))
n2=int(input("Enter the max range: "))
count=0
for i in range(0,len(lst)):
  if lst[i]>=n1 and lst[i]<=n2:
    count+=1
print(count)

Enter the min range: 20
Enter the max range: 100
9

In [10]:
#@title 14.Write a Python program to check whether a list contains a sublist.
lst=[2,3,4,5,6,7]
s=[3,4,5]
flag=False
if s==[]:
  flag=True
  print(flag)
elif s==lst:
  flag=True
  print(flag)
elif len(s)>len(lst):
  flag=False
  print(flag)
else:
  for i in range(0,len(lst)):
    if lst[i]==s[0]:
      n=1
      while (n<len(s)) and (lst[i+n]==s[n]):
        n+=1
      if n==len(s):
        flag=True
        print(flag)

True

In [1]:
#@title 15.Write a Python program to generate all sublists of a list.
from itertools import combinations
lst=[10, 20, 30, 40]
s=[]
for i in range(0,len(lst)):
  temp=[list(x) for x in combinations(lst,i)]
  if len(lst)>0:
    s.extend(temp)
  print(s)

[[]]
[[], [10], [20], [30], [40]]
[[], [10], [20], [30], [40], [10, 20], [10, 30], [10, 40], [20, 30], [20, 40], [30, 40]]
[[], [10], [20], [30], [40], [10, 20], [10, 30], [10, 40], [20, 30], [20, 40], [30, 40], [10, 20, 30], [10, 20, 40], [10, 30, 40], [20, 30, 40]]

In [2]:
#@title 16.Write a Python program that uses the Sieve of Eratosthenes method to compute prime numbers up to a specified number.
n=int(input("Enter the range: "))
prime_list=[]
for i in range(2,n+1):
  if i not in prime_list:
    print(i)
    for j in range(i*i,n+1,i):
      prime_list.append(j)
print(prime_list)

Enter the range: 100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 49, 56, 63, 70, 77, 84, 91, 98]

In [3]:
#@title 17.Write a Python program to create a list by concatenating a given list with a range from 1 to n.
lst=['p', 'q']
n=4
new=['{}{}'.format(x,y) for y in range(1,n+1) for x in lst]
print(new)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4']

In [5]:
#@title 18.Write a Python program to get a variable with an identification number or string.
x=100
print(format(id(x),'x'))
s='sourav'
print(format(id(s),'x'))

7f84a9418d50
7f845ecd93f0

In [11]:
#@title 19.Write a Python program to find common items in two lists.
lst=[10,2,3,5,44]
lst2=[1,89,2,22,5]
common=(set(lst)&set(lst2))
print(common)

{2, 5}

In [12]:
#@title 20.Write a Python program to change the position of every n-th value to the (n+1)th in a list.
from itertools import zip_longest,chain,tee
lst=[0,1,2,3,4,5]
lst1,lst2=tee(iter(lst),2)
print(list(chain.from_iterable(zip_longest(lst[1::2], lst[::2]))))

[1, 0, 3, 2, 5, 4]

In [20]:
#@title 21.Write a Python program to convert a list of multiple integers into a single integer.
lst=[11,33,50]
lst1=['s','o','u','r','a','v']
s=int(''.join(map(str,lst)))
s2=''.join(map(str,lst1))
print(s)
print(s2)

113350
sourav

In [21]:
#@title 22.Write a Python program to split a list based on the first character of a word.
from itertools import groupby
from operator import itemgetter
lst=['be','have','do','say','get','make','go','know','take','see','come','think','look','want','give','use','find','tell','ask','work','seem','feel','leave','call']
for letter,words in groupby(sorted(lst), key=itemgetter(0)):
  print(letter)
  for i in words:
    print(i)

a
ask
b
be
c
call
come
d
do
f
feel
find
g
get
give
go
h
have
k
know
l
leave
look
m
make
s
say
see
seem
t
take
tell
think
u
use
w
want
work

In [23]:
#@title 23.Write a Python program to create multiple lists.
obj={}
for i in range(1,21):
  obj[str(i)]=[]
print(obj)

{'1': [], '2': [], '3': [], '4': [], '5': [], '6': [], '7': [], '8': [], '9': [], '10': [], '11': [], '12': [], '13': [], '14': [], '15': [], '16': [], '17': [], '18': [], '19': [], '20': []}

In [27]:
#@title 24.Write a Python program to find missing and additional values in two lists.Sample data : Missing values in second list: b,a,cAdditional values in second list: g,h
list1 = ['a','b','c','d','e','f']
list2 = ['d','e','f','g','h']
diff1=list(set(list1)-set(list2))
diff2=list(set(list2)-set(list1))
missing=diff2+diff1
print('missing value in second list',missing)
print('Additional value in second list',diff2)

missing value in second list ['h', 'g', 'a', 'b', 'c']
Additional value in second list ['h', 'g']

In [28]:
#@title 25.Write a Python program to split a list into different variables.
lst=[1,2,3,4]
a,b,c,d=lst
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [30]:
#@title 26.Write a Python program to generate groups of five consecutive numbers in a list.
l=[[5*i + j for j in range(1,6)] for i in range(5)]
print(l)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]

In [31]:
#@title 27.Write a Python program to convert a pair of values into a sorted unique array.
L = [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4),(7, 8), (9, 10)]
a=sorted(set().union(*L))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
#@title 28.Write a Python program to select the odd items from a list.
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in x:
  if i%2!=0:
    print(i)
#approach-2
print(x[::2])

1
3
5
7
9
[1, 3, 5, 7, 9]

In [37]:
#@title 29.Write a Python program to insert an element before each element of a list.
lst=['Red', 'Green', 'Black']
num="sam"
lst1=[]
for i in lst:
  lst1.append(num)
  lst1.append(i)
print(lst1)

#using list comprehension
l=[v for x in lst for v in ("new",x)]
print(l)

['sam', 'Red', 'sam', 'Green', 'sam', 'Black']
['new', 'Red', 'new', 'Green', 'new', 'Black']

In [41]:
#@title 30.Write a Python program to print nested lists (each list on a new line) using the print() function.
colors = [['Red'], ['Green'], ['Black']]
for i in colors:
  print(i)

#using print function
print('\n'.join([str(lst) for lst in colors]))

['Red']
['Green']
['Black']
['Red']
['Green']
['Black']