<a href="https://colab.research.google.com/github/sourav88/colab/blob/practice/4th_practice_25_may_51_100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title 1.Write a Python program to split a list every Nth element.
lst=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
n=int(input("Enter the number you want to split: "))
lst1=[]
for i in range(n):
  lst2=[]
  for j in range(0,len(lst),n):
    lst2.append(lst[j])
  lst1.append(lst2)
print(lst1)

Enter the number you want to split: 3
[['a', 'd', 'g', 'j', 'm'], ['a', 'd', 'g', 'j', 'm'], ['a', 'd', 'g', 'j', 'm']]

In [ ]:
#@title 2.Write a Python program to compute the difference between two lists.
lst1=["red", "orange", "green", "blue", "white"] 
lst2=["black", "yellow", "green", "blue"]
diff1=list(set(lst1)-set(lst2))
diff2=list(set(lst2)-set(lst1))
print(diff1)
print(diff2)

['orange', 'white', 'red']
['black', 'yellow']

In [ ]:
#@title 3.Write a Python program to create a list with infinite elements.
import itertools
c=itertools.count()
print(next(c))
print(next(c))
print(next(c))
print(next(c))
print(next(c))

0
1
2
3
4

In [ ]:
#@title 4.Write a Python program to concatenate elements of a list.
color = ['red', 'green', 'orange']
j=''
for i in color:
  s=''.join(i)
  j+=s
print(j)
#2nd
jo=''.join(color)
print(jo)

redgreenorange
redgreenorange

In [ ]:
#@title 5.Write a Python program to remove key-value pairs from a list of dictionaries.
dic = [{'key1':'value1', 'key2':'value2'}, {'key1':'value3', 'key2':'value4'}]
new=[{k: v for k,v in d.items() if k!='key1'} for d in dic]
print(new)

[{'key2': 'value2'}, {'key2': 'value4'}]

In [ ]:
#@title 6.Write a Python program to convert a string to a list.
st="my name is sourav shome"
lst=st.split(" ")
print(lst)

['my', 'name', 'is', 'sourav', 'shome']

In [ ]:
#@title 7.Write a Python program to check if all items in a given list of strings are equal to a given string.
color1 = ["green", "orange", "black", "white"]
color2 = ["green", "green", "green", "green"]
print(all(c == 'blue' for c in color1))
print(all(c=="green" for c in color2))

False
True

In [ ]:
#@title 8.Write a Python program to replace the last element in a list with another list.
lst=[1, 3, 5, 7, 9, 10]
lst2= [2, 4, 6, 8]
# for i in range(len(lst)):
lst[-1:]=lst2
print(lst)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
#@title 9.Write a Python program to check whether the n-th element exists in a given list.
x = [1, 2, 3, 4, 5, 6]
n=5

if len(x)<n:
  print("element is not present in the list")
else:
  print("element is exist in the list,element is",x[n])

element is exist in the list,element is 6

In [ ]:
#@title 10.Write a Python program to find a tuple, the smallest second index value from a list of tuples.
lst = [(4, 1), (1, 2), (6, 0)]
min=float('inf')
min2=None
for tuple in lst:
  if tuple[1]<min:
    min2=tuple
    min=tuple[1]
print(min2)

#2nd approach

smallest_tuple = min(lst, key=lambda x: x[1]) #not work on collab but work on pycharm, jupyter
print(smallest_tuple)

(6, 0)

TypeError: ignored

In [ ]:
#@title 11.Write a Python program to create a list of empty dictionaries.
n=5
lst=[{}]*n
print(lst)

#2nd approach
lst1=[{} for _ in range(5)]
print(lst1)

[{}, {}, {}, {}, {}]
[{}, {}, {}, {}, {}]

In [ ]:
#@title 12.Write a Python program to print a list of space-separated elements.
num = [1, 2, 3, 4, 5]
new=[]
for i in num:
  new.append(str(i))
  x=' '.join(new)
print(x)

#2nd
ls=[str(i) for i in num]
xx=' '.join(ls)
print(xx)

#3rd
print(*num)

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
#@title 13.Write a Python program to insert a given string at the beginning of all items in a list.
lst=[1,2,3,4]
lst1=[]
st='emp'
for i in lst:
  lst1.append(st+str(i))
print(lst1)

['emp1', 'emp2', 'emp3', 'emp4']

In [ ]:
#@title 14.Write a Python program to iterate over two lists simultaneously.
num = [1, 2, 3]
color = ['red', 'white', 'black']
for i,j in zip(num,color):
  print(i,j)

1 red
2 white
3 black

In [ ]:
#@title 15.Write a Python program to move all zero digits to the end of a given list of numbers.
lst=[3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
lst1=[]
lst2=[]
for i in lst:
  if i==0:
    lst1.append(i)
  else:
    lst2.append(i)
lst2.extend(lst1)
print(lst2)

#2nd
# zeros=lst.count(0)
# lst=[i for i in lst if i!=0]
# lst.extend([0]*zeros)
# print(lst)

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:

#@title 16.Write a Python program to find the list in a list of lists whose sum of elements is the highest.
lst=[[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
res=max(lst, key= sum)
print(res)

[10, 11, 12]

In [ ]:
#@title 17.Write a Python program to find all the values in a list that are greater than a specified number.
list1 = [220, 330, 500]
list2 = [12, 17, 21]
res1=[int(i) for i in list1 if i>=200]
print(res1)
res2=[int(i) for i in list2 if i>=25]
print(res2)

[220, 330, 500]
[]

In [ ]:
#@title 18.Write a Python program to extend a list without appending.
lst=[10, 20, 30]
lst1=[40, 50, 60]
# lst[:0]=lst1
# print(lst)

#2nd
lst[len(lst):]=lst1
print(lst)

[10, 20, 30, 40, 50, 60]

In [ ]:
#@title 19.Write a Python program to remove duplicates from a list of lists.
lst=[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
new=[]
for i in lst:
  if i not in new:
    new.append(i)
print(new)

#2nd
res=[]
[res.append(x) for x in lst if x not in res]
print(res)

#3rd
s=[lst[i] for i in range(len(lst)) if i==lst.index(lst[i])]
print(s)

[[10, 20], [40], [30, 56, 25], [33]]
[[10, 20], [40], [30, 56, 25], [33]]
[[10, 20], [40], [30, 56, 25], [33]]

In [ ]:
#@title 20.Write a Python program to find items starting with a specific character from a list.
lst=['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
val=[]
for i in lst:
  if 'a'==i[0]:
    val.append(i)
print(val)

#2nd
zz=[i for i in lst if 'd'==i[0]]
print(zz)

['abcd', 'abc', 'acjd']
['dagfa']

In [ ]:
#@title 21.Write a Python program to check whether all dictionaries in a list are empty or not.
lst=[{},{},{}]
my_list1 = [{1:2},{},{}]
res=all(len(i)==0 for i in lst)
print(res)
res2=all(len(i)==0 for i in my_list1)
print(res2)

True
False

In [ ]:
#@title 22.rite a Python program to flatten a given nested list structure
lst=[0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]
val=[]
for i in lst:
  if type(i)==list:
   val.extend(i) 
  else:
    val.append(i)
print(val)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [ ]:
#@title 23.Write a Python program to remove consecutive (following each other continuously) duplicates (elements) from a given list.
lst=[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
last=''
new=[]
for i in lst:
  if i!=last:
    new.append(i)
    last=i
print(new)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

In [ ]:
#@title 24.Write a Python program to pack consecutive duplicates of a given list of elements into sublists.
lst=[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
out=[[lst[0]]]
for i in lst[1:]:
  if i==out[-1][-1]:
    out[-1].append(i)
  else:
    out.append([i])
print(out)

#2nd
from itertools import groupby
def pack_consecutive_duplicates(l_nums):
    return [list(group) for key, group in groupby(l_nums)]
n_list = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4 ]
print("Original list:") 
print(n_list)

[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

In [ ]:
#@title 25.Write a Python program to create a list reflecting the run-length encoding from a given list of integers or a given list of characters.
lst=[1, 1, 2, 3, 4, 4.3, 5, 1]
encoded_list = []
count = 1

for i in range(1, len(lst)):
  if lst[i] == lst[i - 1]:
    count += 1
  else:
    encoded_list.append([count, lst[i - 1]])
    count = 1
encoded_list.append([count, lst[-1]])
print(encoded_list)

[[2, 1], [1, 2], [1, 3], [1, 4], [1, 4.3], [1, 5], [1, 1]]

In [ ]:
#@title 27.Write a Python program to decode a run-length message.
lst=[[2, 1], 2, 3, [2, 4], 5, 1]

In [ ]:
#@title 28. Write a Python program to split a given list into two parts where the length of the first part of the list is given.
lst=[1, 1, 2, 3, 4, 4, 5, 1]
n=3
a=lst[:3]
b=lst[len(a):]
print((a,b))

([1, 1, 2], [3, 4, 4, 5, 1])

In [ ]:
#@title 29. Write a Python program to remove the K'th element from a given list, and print the updated list.
lst=[1, 1, 2, 3, 4, 4, 5, 1]
n=6
lst.remove(lst[n])
print(lst)

[1, 1, 2, 3, 4, 4, 1]

In [ ]:
#@title 30.Write a Python program to insert an element at a specified position into a given list.
lst=[1, 1, 2, 3, 4, 4, 5, 1]

In [ ]:
#@title 31.Write a Python program to extract a given number of randomly selected elements from a given list.
lst=[1, 1, 2, 3, 4, 4, 5, 1]
import random

In [ ]:
#@title 32.Write a Python program to generate combinations of n distinct objects taken from the elements of a given list.
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9]
n=2
from itertools import combinations
comb=list(combinations(lst,n))
print(comb)

[(1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (5, 6), (5, 7), (5, 8), (5, 9), (6, 7), (6, 8), (6, 9), (7, 8), (7, 9), (8, 9)]

In [ ]:
#@title 33.Write a Python program to round every number in a given list of numbers and print the total sum multiplied by the length of the list.
lst=[22.4, 4.0, -16.22, -9.1, 11.0, -12.22, 14.2, -5.2, 17.5]
lst1=[]
for i in lst:
  lst1.append(round(i))
print(sum(lst1)*len(lst))

243

In [ ]:
#@title 34.Write a Python program to create a multidimensional list (lists of lists) with zeros.
num=[]
for i in range(3):
  num.append([])
  for j in range(2):
    num[i].append(0)
print(num)

[[0, 0], [0, 0], [0, 0]]

In [ ]:
#@title 35.Write a Python program to create a 3X3 grid with numbers.
num=[]
for i in range(3):
  num.append([])
  for j in range(1,4):
    num[i].append(j)
print(num)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [ ]:
#@title 36.Write a Python program to read a matrix from the console and print the sum for each column. As input from the user, accept matrix rows, columns, and elements separated by a space (each row).

In [ ]:
#@title 37.Write a Python program to read a square matrix from the console and print the sum of the matrix's primary diagonal. Accept the size of the square matrix and elements for each column separated with a space (for every row) as input from the user.

In [ ]:
#@title 38.Write a Python program to Zip two given lists of lists.
lst1=[[1, 3], [5, 7], [9, 11]]
lst2=[[2, 4], [6, 8], [10, 12, 14]]
lst=[]
for i,j in zip(lst1,lst2):
  k=i+j
  lst.append(k)
print(lst)

#2nd
res=[m+n for m,n in zip(lst1,lst2)]
print(res)

[[1, 3, 2, 4], [5, 7, 6, 8], [9, 11, 10, 12, 14]]
[[1, 3, 2, 4], [5, 7, 6, 8], [9, 11, 10, 12, 14]]

In [ ]:
#@title 39. Write a Python program to count the number of lists in a given list of lists.
lst=[[1, 3], [5, 7], [9, 11], [13, 15, 17]]
count=0
for i in lst:
    if type(i)==list:
        count+=1
print(count)

list2 = [[2, 4], [[6,8], [4,5,8]], [10, 12, 14]]
print(len(list2))

4
3

In [ ]:
#@title 40.Write a Python program to find a list with maximum and minimum lengths.
def list_max(lst):
  max=len(lst[0])
  l=lst[0]
  for i in lst:
    if len(i)>max:
      max=len(i)
      l=i
  return (max,l)

def list_min(lst):
  min=len(lst[0])
  l=lst[0]
  for i in lst:
    if len(i)<min:
      min=len(i)
      l=i
  return (min,l)

lt=[[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]
print(list_max(lt),'\n',list_min(lt))

(3, [13, 15, 17])
 (1, [0])

In [4]:
#@title 41.Write a Python program to check if a nested list is a subset of another nested list.
lst=[[1, 3], [5, 7], [9, 11], [13, 15, 17]]
sub=[[1, 3], [13, 15, 17]]
def check(sub,lst):
  for sub in lst:
    if sub not in lst:
      print(False)
  return True
print(check(sub,lst))

True

In [7]:
#@title 42.Write a Python program to count the number of sublists that contain a particular element.
lst=[[1, 3], [5, 7], [1, 11], [1, 15, 7]]
n=7
count=0
for i in lst:
  for x in i:
    if x==n:
      count+=1
print(count)

2

In [16]:
#@title 43.Wrie a Python program to count the number of unique sublists within a given list.
lst=[[1, 3], [5, 7], [1, 3], [13, 15, 17], [5, 7], [9, 11]]
dt={}
for i in lst:
  key=tuple(i)
  if key in dt:
    dt[key]+=1
  else:
    dt[key]=1
print(dt)

{(1, 3): 2, (5, 7): 2, (13, 15, 17): 1, (9, 11): 1}

In [21]:
#@title 44.Write a Python program to sort each sublist of strings in a given list of lists.
lst=[[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]
lst.sort()
print(lst)

[[0], [0, 7], [1, 3], [2], [9, 11], [13, 15, 17]]

In [22]:
#@title 45.Write a Python program to sort a given list of lists by length and value.
lst=[[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]
lst.sort(key=len)
print(lst)

[[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]

In [2]:
#@title 46.Write a Python program to remove sublists from a given list of lists that contain an element outside a given range.
lst=[[2], [0], [1, 2, 3], [0, 1, 2, 3, 6, 7], [9, 11], [13, 14, 15, 17]]
min=13
max=17
res=[]
for i in lst:
  valid=True
  for x in i:
    if x<min or x>max:
      valid=False
      break
if valid:
  res.append(i)
print(res)

[[13, 14, 15, 17]]

In [16]:
#@title 47.Write a Python program to scramble the letters of a string in a given list.
lst=['Python', 'list', 'exercises', 'practice', 'solution']
def shuffle_word(lis):
  text=list(lis)
  shuffle(text)
  return ''.join(text)
res=[shuffle_word(i) for i in lst]
print(res)

['oyPtnh', 'tils', 'ssrexeiec', 'acpitecr', 'tnoolius']

In [ ]:
#2nd approach
import random

def scramble_string(string, indices):
    char_list = list(string)
    random.shuffle(indices)
    scrambled = [char_list[i] for i in indices]
    return ''.join(scrambled)

# Example usage
my_string = "example"
my_indices = [3, 1, 5, 2, 4, 0]
scrambled_string = scramble_string(my_string, my_indices)
print(scrambled_string)

In [ ]:
#@title 48.Write a Python program to find the maximum and minimum values in a given heterogeneous list.
lst=['Python', 3, 2, 4, 5, 'version']
lst1=[]
for i in lst:
  if isinstance(i,int):
    lst1.append(i)
print(max(lst1))
print(min(lst1))

In [21]:
#@title 49.Write a Python program to extract common index elements from more than one given list.
lst1=[1, 1, 3, 4, 5, 6, 7]
lst2=[0, 1, 2, 3, 4, 5, 7]
lst3=[0, 1, 2, 3, 4, 5, 7]
res=[]
for i,j,k in zip(lst1,lst2,lst3):
  if i==j==k:
    res.append(i)
print(res)

[1, 7]