<a href="https://colab.research.google.com/github/sourav88/colab/blob/practice/5th_practice_31may_dict_1_30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title 1.Write a Python program to reverse words in a string.
n="The quick brown fox"
st=' '
for i in n:
  s=n.split(" ")
s.reverse()
for i in s:
  st+=' '+i
print(st)

  fox brown quick The

In [ ]:
n="The quick brown fox"
st=' '.join(n.split(' ')[::-1])
print(st)

fox brown quick The

In [ ]:
#@title 2.Write a Python program to reverse a string.
n='sourav'
print(n[::-1])

varuos

In [ ]:
n='sourav'
st=''
for i in n:
  st=i+st
print(st)

varuos

# **`Dictionary`**

In [ ]:
#@title 1.Write a Python script to sort (ascending and descending) a dictionary by value.
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
dic=dict(sorted(d.items(), key=lambda x: x[1]))
print(dic)

{0: 0, 2: 1, 1: 2, 4: 3, 3: 4}

In [ ]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
dic=dict(sorted(d.items(), key=operator.itemgetter(1)))
print(dic)

{0: 0, 2: 1, 1: 2, 4: 3, 3: 4}

In [ ]:
#@title 2.Write a Python script to add a key to a dictionary.
di={0: 10, 1: 20}
di[2]=30
print(di)

{0: 10, 1: 20, 2: 30}

In [ ]:
di={0: 10, 1: 20}
di.update({2:30})
print(di)

{0: 10, 1: 20, 2: 30}

In [ ]:
#@title 3. Write a Python script to concatenate the following dictionaries to create a new one.
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic={}
for i in dic1,dic2,dic3:
  dic.update(i)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#@title 4.Write a Python script to check whether a given key already exists in a dictionary.
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def check(i):
  if i in d:
    print("present")
  else:
    print("not present")
check(3)
check(9)

present
not present

In [ ]:
#@ 5.Write a Python program to iterate over dictionaries using for loops.
d = {'x': 10, 'y': 20, 'z': 30}
for k,v in d.items():
  print(k,v)

x 10
y 20
z 30

In [ ]:
#@title 6.Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
n=10
dit={}
for i in range(1,n+1):
  dit[i]=i*i
print(dit)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#@title 7.Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.
n=15
d={}
for i in range(1,n+1):
  d[i]=i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
#@title 8.Write a Python script to merge two Python dictionaries.
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d1.update(d2)
print(d1)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
#@title 9.Write a Python program to iterate over dictionaries using for loops.
d = {'Red': 1, 'Green': 2, 'Blue': 3}
for k,v in d.items():
  print(k,v)

Red 1
Green 2
Blue 3

In [ ]:
#@title 10.Write a Python program to sum all the items in a dictionary.
d=my_dict = {'data1':100,'data2':-54,'data3':247}
sum=0
for k,v in d.items():
  sum+=v
print(sum)

293

In [ ]:
#@title 11.Write a Python program to multiply all the items in a dictionary.
dic={'data1':100,'data2':-54,'data3':247}
mul=1
for k,v in dic.items():
  mul=mul*v
print(mul)

-1333800

In [ ]:
#@title 12.Write a Python program to remove a key from a dictionary.
dic={'a':1,'b':2,'c':3,'d':4}
del dic['a']
print(dic)

{'b': 2, 'c': 3, 'd': 4}

In [ ]:
#@title 13. Write a Python program to map two lists into a dictionary.
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']
dic=dict(zip(keys,values))
print(dic)

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [ ]:
#@title 14.Write a Python program to sort a given dictionary by key.
color_dict = {'red':'#FF0000',
          'green':'#008000',
          'black':'#000000',
          'white':'#FFFFFF'}

dic=dict(sorted(color_dict.items(), key= lambda x: x[1]))
print(dic)

{'black': '#000000', 'green': '#008000', 'red': '#FF0000', 'white': '#FFFFFF'}

In [ ]:
#@title 15.Write a Python program to get the maximum and minimum values of a dictionary.
my_dict = {'x':500, 'y':5874, 'z': 560}
max_num=max(my_dict.keys(), key=(lambda x: my_dict[x]))
min_num=min(my_dict.keys(),key=lambda x: my_dict[x])
print(my_dict[max_num])
print(my_dict[min_num])

5874
500

In [ ]:
#@title 16.Get a dictionary from an object's fields
class dictobj(object):
  def __init__(self):
    self.x="Red"
    self.y="Blue"
    self.z="Black"
  def do_nothing(self):
    pass
test=dictobj()
print(test.__dict__)

{'x': 'Red', 'y': 'Blue', 'z': 'Black'}

In [ ]:
#@title 17. Write a Python program to remove duplicates from the dictionary
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}

res={}
for k,v in student_data.items():
  if v not in res.values():
    res[k]=v
print(res)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [ ]:
#@title 18.Write a Python program to check if a dictionary is empty or not.
dic={}
if bool(dic):
  print("dictionary is not empty")
else:
  print("dictionary is empty")

dictionary is empty

In [ ]:
#@title 19.Write a Python program to combine two dictionary by adding values for common keys.
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d=Counter(d1)+Counter(d2)
print(d)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d={}
for k in d1.keys() | d2.keys():
  d[k]=d1.get(k,0) + d2.get(k,0)
print(d)

{'c': 300, 'd': 400, 'b': 400, 'a': 400}

In [ ]:
#@title 20.Write a Python program to print all distinct values in a dictionary.
dic=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
d=set()
for i in dic:
  for value in i.values():
    d.add(value)
print(d)

{'S009', 'S002', 'S007', 'S001', 'S005'}

In [ ]:
#@title 21.Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary.
import itertools
d={'1':['a','b'], '2':['c','d']}
for i in itertools.product(*[d[k] for k in sorted(d.keys())]):
  print(''.join(i))

ac
ad
bc
bd

In [ ]:
#@title 22.Write a Python program to find the highest 3 values of corresponding keys in a dictionary.
from heapq import nlargest
d={'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}
three=nlargest(3,d.values())
print(three)

[5874, 5874, 560]

In [ ]:
#@title 23.Write a Python program to combine values in a list of dictionaries.
d=[{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
output={}
for i in d:
  item=i["item"]
  amount=i['amount']
  output[item]=output.get(item,0)+amount
print(output)

{'item1': 1150, 'item2': 300}

In [ ]:
#@title 24. Write a Python program to create a dictionary from a string.
st="w3resource"
d={}
for i in st:
  if i in d:
    d[i]+=1
  if i not in d:
    d[i]=1
print(d)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [ ]:
#@title 25.Write a Python program to print a dictionary in table format.
d={'C1':[1,2,3],'C2':[5,6,7],'C3':[9,10,11]}
for row in zip(*([key] + (value) for key, value in sorted(d.items()))):
    print(*row)

C1 C2 C3
1 5 9
2 6 10
3 7 11

In [ ]:
#@title 26.Write a Python program to count the values associated with a key in a dictionary.
student = [{'id': 1, 'success': True, 'name': 'Lary'},
 {'id': 2, 'success': False, 'name': 'Rabi'},
 {'id': 3, 'success': True, 'name': 'Alex'}]
sum=0
st=0
for i in student:
  for k,v in i.items():
    if k=="id":
      sum+=v
    if k=="success" and v==True:
      st+=1
print(sum)
print(st)

6
2

In [ ]:
#@title 27.Write a Python program to convert a list into a nested dictionary of keys.
num_list = [1, 2, 3, 4]
dic=current={}
for i in num_list:
  current[i]={}
  current=current[i]
print(dic)

{1: {2: {3: {4: {}}}}}

In [ ]:
#@title 28.Write a Python program to sort a list alphabetically in a dictionary.
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
for i in num.values():
  i.sort()
print(num)

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [10]:
#@title 29.Write a Python program to remove spaces from dictionary keys.
student_list = {'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}
new={}
for k,v in student_list.items():
  r=k.replace(' ','')
  new[r]=v
print(new)

{'S001': ['Math', 'Science'], 'S002': ['Math', 'English']}

In [12]:
#@title 30.Write a Python program to get the top three items in a shop.
dic={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
from heapq import nlargest
three=dict(nlargest(3,dic.items()))
print(three)

{'item5': 24, 'item4': 55, 'item3': 41.3}

In [ ]:
tup=